<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <script src="/js/script.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>This website is created by Vitomir. It uses weatherstack API to provide weather information for a selected location.</p>
            <img src="/img/Bitcoin-energy-consumption.png">
        </div>

        {{>footer}}
    </body>
</html>